@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
}

:root {
  --blue50: #eff6ff;
  --blue100: #dbeafe;
  --blue400: #60a5fa;
  --blue500: #3b82f6;
  --blue600: #2563eb;
  --blue900: #1e3a8a;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--blue50);
  overflow: scroll;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--blue600);
}

.empty-state > img {
  width: 12rem;
  height: 12rem;
  opacity: 0.1;
}

.empty-state > h2 {
  margin: 3rem 0 0.5rem 0;
  font-size: 2rem;
  opacity: 0.2;
}

.empty-state > p {
  opacity: 0.3;
}

.left {
  width: 25%;
  min-width: 100px;
  padding: 2rem;
  background-color: var(--blue50);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.05);
}

.notes-list {
  margin: 2rem 0;
}

.notes-list-heading {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.note-list-item,
.note-list-item-selected {
  padding: 1rem;
  margin: 0.5rem -0.8rem;
  cursor: pointer;
}

.note-list-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.note-list-item-note {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.5rem;
}

.note-list-item-selected {
  background-color: var(--blue500);
  color: white;
  border-radius: 1rem;
}

.note-list-item-selected .note-list-item-note {
  color: rgba(255, 255, 255, 0.8);
}

.btn-secondary {
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--blue400);
  box-shadow: none;
  border-radius: 2rem;
  color: var(--blue500);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-image: none;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none;
}

.btn-delete {
  margin-left: auto;
  border: 2px solid #ff1f13;
  color: #ff1f13;
  width: 10rem;
}

.btn-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.right {
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.note-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
textarea {
  background-color: transparent;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.note-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0;
}

.note-note {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  resize: none;
  font-size: 1.2rem;
  color: #303030;
  line-height: 2rem;
}

.small-text {
  margin: auto 0 0 auto;
  color: #303030;
}
